.categories {
  margin-bottom: 80px;
}

.categories .section-tittle {
  margin: 0 auto;
  width: 312px;
}

.categories-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 64px;
}
.categories-card a.card {
  width: 312px;
  height: 220px;
  border-radius: 8px;
  background-color: var(--background-secundary-color);
  text-align: center;
  padding: 24px;
  box-sizing: border-box;
  text-decoration: none;
  color: var(--backgrond-tertiary);
}

@media screen and (min-width: 768px) {
  .categories-card {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }
}
